          &nbsp;&nbsp;Your shipment has gone out.  To review your shipment at our web site please click here:<br><br>

          <%= link_to 'My Shipment',:host=>@host, :controller => 'orders', :id => @order.id,  :action => 'customer_detail' %><br><br>

          To track your shipment via UPS click here <br><br>

          <a href="http://wwwapps.ups.com/WebTracking/processInputRequest?sort_by=status&tracknums_displayed=1&TypeOfInquiryNumber=T&loc=en_US&InquiryNumber1=<%=h @order.shipping_tracking %>&track.x=0&track.y=0"target="_blank"><%=h @order.shipping_tracking || "none" %></a>&nbsp;

          <br><br>

          Thank you for visiting our site !!!<br><br>

          <%=@site_name %><br><br>
