<%= create_dialog_settings("Edit Coupon", "650", "500") %>

<div class="cms-block" Align="Left">
  <div id="flash" align="center">
    <!-- START:flash -->
    <% if flash[:notice] -%>
      <div id="notice"><%= flash[:notice] %></div>
    <% end -%>
    <!-- END:flash -->
  </div>



  <!-- <div class="cms-header">Site Preferences</div> -->

  <div class="cms-section">
    <div class="cms-content">

      <%= render 'form' %>

         </div>
  </div>
</div>

