<div class="hidden-item">
    <div id="as_window"><%=params[:request_type]=="window"%></div>
    <div id="dialog-height">650</div>
    <div id="dialog-width">1050</div>
    <div id="dialog-name">Retailers</div>
</div>

<div class="myaccountblock">
  <div align="center">
    <!-- START:flash -->
    <% if flash[:notice] -%>
      <div id="notice"><%= flash[:notice] %></div>
    <% end -%>
    <!-- END:flash -->
  </div>

  <div id="site-pref-list">
    <p>
    <center><%= link_to 'New Retailer', {:action=>:create_empty_record,:typeofrecord=>"Retailer"}, :class=>"button-link", :id=>"new-retailer", :remote=>true%></center>
    </br>
  </p>
  
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="retailer-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>Zip</th>
          <th>-</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
      <tfoot>
        <tr>
        <th>Name</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>Zip</th>
          <th>-</th>
        </tr>
      </tfoot>
    </table>
</div>
