
<div class="hidden-item">
    <div id="as_window"><%=params[:request_type]=="window"%></div>
    <div id="dialog-height">650</div>
    <div id="dialog-width">1050</div>
    <div id="dialog-name">Show Invoice</div>
</div>

<div class="cms-block">
    <div class="cms-section">
      <div class="cms-content">
          <%= render(:partial=>"invoice_report.html") %>
      </div>
    </div>
</div>
