<div class="cart-title" >My Bag</div>

<div class="cart-header">
    <div class="cart-title" id="description">Description </div>
    <div class="cart-title" id="sub-total">Subtotal</div>
</div>
    
<div id="cart-contents">
  <%= render(:partial => "checkout_cart_item" , :collection => checkout_cart.items) %>
</div>


<div class="cart-summary-section">
  <div class="cart-shipping">
    <div class="cart-shipping-header cart-header-font ">
      Shipping
    </div>
    <div class="cart-shipping-body">
      <%= render :partial=>"shipping_tool.html", :locals=>{:checkout_cart=>@checkout_cart, :shipping_methods=>@shipping_methods} %>
    </div> 
  </div>

  <div class="cart-summary">
          <%@checkout_cart = checkout_cart %>
   <%  if Coupon.active then %>
    <div class="cart-header-font cart-coupon-header">
      Coupon Code
    </div>
    <div class="cart-coupon-code">
      <p>
        <%=editablefieldcreate("coupon_code", @checkout_cart,"Enter Code",{:path=>"cart_update"})%>
      </p>
    </div>
    <% end %>
    <div class="cart-summary-header cart-header-font "> 
      Summary
    </div>
    <div class="cart-summary-body"> 
      <%= render :partial=>"cart_summary_body.html" , :locals=>{:checkout_cart=>@checkout_cart} %>
    </div>

  </div>
