

      <p>
        <b>coupon_id:</b><br>
        <%=editablefieldcreate("coupon_id", @coupon_usage)%>
      </p>



      <p>
        <b>user_id:</b><br>
        <%=editablefieldcreate("user_id", @coupon_usage)%>
      </p>



      <p>
        <b>usage_count:</b><br>
        <%=editablefieldcreate("usage_count", @coupon_usage)%>
      </p>


      