/* 
    Document   : store_locator
    Created on : Apr 13, 2014, 11:45:27 PM
    Author     : rlittle
    Description:
        Purpose of the stylesheet follows.

*= require map-style
*= require map

@import "/stylesheets/map-style.css"; 
@import "/stylesheets/map.css"; 
*/

root { 
    display: block;
}

#store-locator-container {
color: inherit !important;
}




#store-locator-container #submit {
background: #00baab;
border: 1px solid grey;
color: white;
font-family: chalkduster;
text-decoration: none;
font-size:14px;

}