<div id="product-classification">
  <fieldset class="address-legend" >
    <legend class="address-lable">Page Layout</legend>
    <table  class="address-table">
      <tbody>
        <tr>
          <td>

            Layout: </br>

            <%=ajax_select("custom_layout","product",@product, @product_layouts)%>            

          </td>
        </tr>
       
        </tr>
      </tbody>
    </table>
  </fieldset>
</div>
