<br>
<p>
    <b>Swatch Name:</b><br>
    <%=editablefieldcreate("title", @picture)%>
</p>
<br>

<p>
    <b>Is Swatch Visible:</b><br>
    <%=editablecheckboxedit("active_flag", @picture, "Visible")%>
  </p>

<p>
    <b>Description:</b><br>
    <%=editablefieldcreate("description", @picture)%>
</p>



