<div id="product-search-bar">
    Add Related Products: <input id="product-search" />

</div>
<div class="relatedsection">

    <div class="<%= (@product.related.empty? ? 'hidden-item' : '')%>" id="related-products" >              
          <%= render(:partial => "related_list", :object => @product.related) %>
    </div>

</div> 

