<html>
    <head>
        <meta name="pdfkit-orientation" content="Landscape"/>
        <meta name="pdfkit-footer-right" content="Page [page] of [toPage]"/>
        <meta name="pdfkit-footer-left" content="Printed on:[date]@[time]"/>

        <meta name="pdfkit-margin-top" content="0.35in"/>
        <meta name="pdfkit-margin-bottom" content="0.5in"/>
        <meta name="pdfkit-margin-left" content="0.5in"/>
        <meta name="pdfkit-margin-right" content="0.5in"/>


    <%= stylesheet_link_tag "idd-print.css"   %>

        <style tyle="text/css">
          
        </style>
    </head>
    <body>
        <%= yield %>
    </body>
</html>
